{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>
        {%block head_title%}
        KURS
        {%endblock head_title%}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster|Cabin">
    <link rel='stylesheet' href='{% static "css/base.css" %}'/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light navbar-custom sticky-top">
    <a class="navbar-brand" href="{% url 'home'%}">Labs Explorer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        {% with url_name=request.resolver_match.url_name url_namespace=request.resolver_match.namespace  %}
        <a class="nav-item nav-link {%if url_name == 'home'%}active{% endif %}" href="{% url 'home' %}">Home</a>
        <a class="nav-item nav-link {%if url_namespace == 'news'%}active{% endif %}" href="{% url 'news:list' %}">News</a>
        <a class="nav-item nav-link {%if url_namespace == 'labs'%}active{% endif %}" href="{% url 'labs:list' %}">Labs</a>
        <a class="nav-item nav-link {%if url_name == 'about'%}active{% endif %}" href="{% url 'about' %}">About</a>
        {% endwith %}
        </div>
    </div>
</nav>
   {% include "messages_display.html" %}
   <br/>
    <div class='container-fluid width-full'>
        {% block content %}

        {% endblock content %}
    </div>
    <br/><br/>
    <footer class="myfooter">
        © 2018 Labs Explorer
    </footer>
    <script src='{% static "js/base.js" %}'/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>

</html>

