{%extends "base.html"%}


{%block content%}

<div class="row w-75 mx-auto">
        <div class='col-lg-12'>
                <div class="card">
                        <div class="card-body">
                                <b>Welcome to Labs Explorer.</b>
                        </div>
                </div>
        </div>
</div>
<br/>
<div class = "row w-75 mx-auto">
        <div class='col-lg-12'>
                <h3>Labs map</h3>
                <div id="map"></div>
        </div>  
</div> 
<script>initMap();</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDez0K1eV8flD2kf-2faec30-UmtLBXOuM&callback=initMap"></script>

{%endblock content%}