{%extends "base.html"%}
   
{%block head_title%}
    {{instance.title}} | {{block.super}}
{%endblock head_title%}

{%block content%}
<div class='col-sm-6 col-sm-offset-3'>
    <h1>{{title}}</h1>
    {{instance.country | linebreaks}}
    {{instance.category | linebreaks}}
    {{instance.subcategory | linebreaks}}
    {{instance.language | linebreaks}}
    {{instance.subject_domain | linebreaks}}
    {{instance.equipment | linebreaks}}
    {{instance.reusable_components | linebreaks}}
    {{instance.lab_availability | linebreaks}}
    <br/> 
</div>


{%endblock content%}
