{%extends "base.html"%}


{%block content%}

<h1>{{title}}</h1>

<div class='row'>
    <div class='col-sm-3'>
            {% include "filter.html" %} 
     </div>
     <div class='col'>
            <div class = 'row mb-4'>
                    {% for obj in object_list%}
                        <div class='col-sm-4'>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href='{{ obj.get_absolute_url}}'>{{obj.title}}<a/>
                                    </h5>
                                    <p class="card-text">
                                        {{obj.category | linebreaks | truncatechars:120}}
                                        {{obj.site | linebreaks | truncatechars:120}}
                                        {{obj.organisation | linebreaks | truncatechars:120}}
                                        {{obj.platform | linebreaks | truncatechars:120}}
                                        {{obj.country | linebreaks | truncatechars:120}}
                                    </p>
                                    <br/><a href="{{ obj.get_absolute_url}}" class="btn btn-primary float-right">View</a>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class = 'row mb-4'>
                        {% endif %}
                    {% endfor %}
                </div>
    </div>
</div>
     
      
            <div class="pagination">
                    <span class="step-links">
                        {% if object_list.has_previous %}
                            <a href="?{{ page_request_var }}=1">&laquo; first</a>
                            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}">previous</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                        </span>
                
                        {% if object_list.has_next %}
                            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}">next</a>
                            <a href="?{{ page_request_var }}={{ object_list.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div> 

{%endblock content%}