{%extends "base.html"%}


{%block content%}

<!-- <h1>{{title}}</h1> -->

<!-- <div class='col-sm-6 col-sm-offset-3'> -->
        {% for obj in object_list%} 
        <div class='row'>
            <div class='col-lg-12'>
                <div class="card w-75 p-1 mx-auto" style="width: 18rem;">
                    {% if obj.image %}
                    <img class="card-img-top" src="{{ obj.image.url }}" alt="Card image cap">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href='{{ obj.get_absolute_url }}'>{{obj.title}}<a/>
                                <small>
                                    {{obj.timestamp | timesince}} ago
                                </small>
                        </h5>
                        <p class="card-text">{{obj.content | linebreaks | truncatechars:120}}</p>
                        <br/><a href="{{ obj.get_absolute_url}}" class="btn btn-primary float-right">View</a>
                    </div>
                </div>
            <br/>
            </div>
        </div>
        {% endfor %} 
            <div class="pagination">
                    <span class="step-links">
                        {% if object_list.has_previous %}
                            <a href="?{{ page_request_var }}=1">&laquo; first</a>
                            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}">previous</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                        </span>
                
                        {% if object_list.has_next %}
                            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}">next</a>
                            <a href="?{{ page_request_var }}={{ object_list.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
            </div>        
<!-- </div> -->

{%endblock content%}