{%extends "base.html"%}
   
{%block head_title%}
    {{instance.title}} | {{block.super}}
{%endblock head_title%}
git 
{%block content%}
<div class='col-sm-6 col-sm-offset-3'>
    {% if instance.image %}
    <img src='{{ instance.image.url }}' class='img-resp'/>
    {% endif %}
    <h1>{{title}} <small>{{instance.timestamp}}</small></h1>
    {{instance.content | linebreaks}}<br/> 
</div>


{%endblock content%}
