h1{
    color: grey;
}

html {
    height:100%;
}

body{
    min-height: 100vh;
    position: relative;
    margin: 0;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    min-height:100%;
}

.footer {
    height:40px;
    margin-top:-40px;
}
  
.navbar-custom {
    background-color: #ff5500;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: white;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: white;
}

.navbar-brand{
    font-family: 'Lobster', cursive;
}

.nav-item{
    font-family: 'Cabin', cursive;
}

.myfooter{
    background-color: #ff5500;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
} 

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

.navbar-brand:hover{
    color: white !important;
}
 